APP_PORT=5002

# SQL SERVER CONFIG
SERVER=localhost
USER=sa
DATABASE=Contact_Book
DB_TYPE=mssql
PASSWORD=p@ssword_1234
DB_PORT=1433

## MYSQL CONFIG
# SERVER=localhost
# USER=root
# DATABASE=Contact_Book
# DB_TYPE=mysql
# PASSWORD=Geolen2013
# DB_PORT=3306

## POSTGRES CONFIG
# SERVER='localhost'
# USER=postgres
# DATABASE=Contact_Book
# PASSWORD='Geolen2013'
# DB_TYPE=postgres
# DB_PORT=5432
